<h1>Welcome to StyleGan Service</h1>
<h2>Please insert the option to perform StyleGan</h2>

      <style>
         table, td, th {
            border: 1px solid black;
            width: 200px;
            text-align:center;
         }
      </style>

<form method="POST">
    <table >
        <tr><td><h4>Model:</h4></td><td>
            <select name="model">
          <option value="FFHQ">FFHQ</option>
          <option value="MetFaces">MetFaces</option>
          <option value="AFHQv2">AFHQv2</option>
        </select></td> </tr>

        <tr><td><h4>Text:</h4></td> <td><input name="text" ></td> </tr>

        <tr><td><h4>Steps:</h4></td> <td><input name="steps" ></td> </tr>

        <tr><td><h4>Seed:</h4></td> <td><input name="seed" ></td> </tr>

        <tr ><td colspan="2"><input type="submit"></td></tr>

        </table>
</form>
<form method="GET">
   <img src="images/output.jpg" alt="images">
</form>